<div class="nav-bar">
  <div class="right-content">
    <div class="icon">
      <i class="pi pi-bars" id="bars`"></i>
    </div>
    <div class="title">
      <span class="main">ระบบจัดการข้อมูลพนักงาน</span>
      <br />
      <span class="sub">ระบบจัดการข้อมูลพนักงาน</span>
    </div>
  </div>
  <div class="left-content">
    <div class="icon">
      <i class="pi pi-bell" id="noti"></i>
      <i class="pi pi-cog" id="setting"></i>
      <i class="pi pi-sign-out" id="sign-out"></i>
    </div>
  </div>
</div>

<div class="container">
  <div class="sidebar" id="sidebar">
    <div class="sidebar-content">
      <div class="sidebar-title">เมนูหลัก</div>
      <ul class="menu-list">
        <li>
          <a href="#"><i class="pi pi-home"></i> หน้าแรก</a>
        </li>
        <li>
          <a href="#"><i class="pi pi-users"></i> ข้อมูลพนักงาน</a>
        </li>
        <li>
          <a href="#"><i class="pi pi-briefcase"></i> ข้อมูลตำแหน่งงาน</a>
        </li>
        <li>
          <a href="#"><i class="pi pi-calendar"></i> ข้อมูลการลา</a>
        </li>
        <li>
          <a href="#"><i class="pi pi-chart-line"></i> รายงาน</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content-wapper">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
    <div class="program">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
