@import "./colors.scss";

.p-breadcrumb {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 18px;

  .p-breadcrumb-list .p-menuitem-text {
    color: #141414;
  }

  .p-breadcrumb-list li.p-menuitem-separator {
    color: #141414;
  }

  .p-breadcrumb-list li .p-menuitem-link .p-menuitem-icon {
    color: #141414;
  }
}
