// | ระดับ | ชื่อโทน            | Hex Code  |
// | ----- | ------------------ | --------- |
// | 1     | Vibrant Orchid     | `#FF33FF` |
// | 2     | Soft Orchid (base) | `#FF66FF` |
// | 3     | Orchid Bloom       | `#FF80FF` |
// | 4     | Petal Pink         | `#FF99FF` |
// | 5     | Blush Lilac        | `#FFB3FF` |
// | 6     | Pink Cloud         | `#FFCCFF` |
// | 7     | Light Blossom      | `#FFD6FF` |
// | 8     | Sweet Mist         | `#FFE0FF` |
// | 9     | Dewy Lavender      | `#FFE6FF` |
// | 10    | Whisper Veil       | `#FFF2FF` |


$pink-1:#FF33FF;
$pink-2:#FF66FF;
$pink-3:#FF80FF;
$pink-4:#FF99FF;
$pink-5:#FFB3FF;
$pink-6:#FFCCFF;
$pink-7:#FFD6FF;
$pink-8:#FFE0FF;
$pink-9:#FFE6FF;
$pink-10:#FFF2FF;

$red-1: #FF4C5B;
$red-2: #E03E52;
$red-3: #D94F70;
$red-4: #FFA3A3;

$green-1: #4CD4B0;
$green-2: #3DDC97;
$green-3: #A5F2B1;
$green-4: #99D8A0;

$gray: #f1f5f9;